@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button-primary {
  @apply border bg-primary px-6 py-2 rounded-lg font-semibold text-white hover:bg-white hover:border hover:border-primary ease-in-out duration-100 hover:text-primary active:scale-95;
}
.button-primary-reverse {
  @apply border bg-white px-6 py-2 border-primary rounded-lg font-semibold text-primary hover:bg-primary hover:border hover:border-primary ease-in-out duration-100 hover:text-white active:scale-95;
}
.button-primary2 {
  @apply border bg-primary w-full py-2 rounded-lg font-semibold text-white hover:bg-white hover:border hover:border-primary ease-in-out duration-100 hover:text-primary active:scale-95;
}

.border-base {
  @apply border-none;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fail-shadow {
  -webkit-box-shadow: 0px 1px 9px -2px rgba(255, 8, 29, 1);
  -moz-box-shadow: 0px 1px 9px -2px rgba(255, 8, 29, 1);
  box-shadow: 0px 1px 9px -2px rgba(255, 8, 29, 1);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.pin-shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(94, 186, 235, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(94, 186, 235, 1);
  box-shadow: 0px 0px 8px 0px rgba(94, 186, 235, 1);
}


.hamburger-line {
    @apply w-[30px] h-[2.5px] rounded-lg my-2 block
}

#hamburger-menu-active > span:nth-child(1) {
    @apply rotate-45
}
#hamburger-menu-active > span:nth-child(2) {
    @apply scale-0
}
#hamburger-menu-active > span:nth-child(3) {
    @apply -rotate-45
}

#drawer-true{
    @apply left-0
}

#drawer-false {
    @apply -left-full
}




